body {
  background-color: #242538;
  font-family: Helvetica;
  color: #f0f0f5;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: 5px solid #242538;
  border-radius: 20px;

  overflow: hidden;
}

.main h1 {
  background-color: #1b1c2e;
  display: block;
  font-size: 2em;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
}

.content {
  background-color: #b6b6cc;
  width: min(90vw, 80vh);
  height: min(90vw, 80vh);
  padding: 10px;
}

/* place your styles below */

:root {
  --dark:#1b1c2e;
  --mid:#242538;
  --light:#b6b6cc;
  --text:color: #f0f0f5;
}


.textTile{
  border-radius: 20px;
  flex-grow: 1;
  position: relative;
}
.text{
  position: relative;
  display:block;
  width: fit-content;
  border-radius: 20px;
  height: auto;
  padding: 10px;
}
.textTile h1 {
  border-radius: 20px;
}

* .dark {
  background-color: var(--dark);
}
* .mid {
  background-color: var(--mid);
}
* .light {
  background-color: var(--light);
}

.dark .content{
  background-color: var(--dark);
}
.mid .content{
  background-color: var(--mid);
}
.light .content{
  background-color: var(--light);
}

.dark h1{
  background-color: var(--dark);
}
.mid h1 {
  background-color: var(--mid);
}
.light h1{
  background-color: var(--light);
}

img{
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  max-height:100%;
  border-radius: 20px;
  /*  */
}


.horizontalSplitter{
  height: 100%;
  display: grid;
  grid-auto-rows:1fr;
  grid-template-columns: 1fr;
  gap: 30px;
}

.verticalSplitter{
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  /* I know that 'grid-template-columns: 1fr 1fr;' 
  won't display the correct number of columns if the number of coulmns is diferent than 2,
  but trying the same trick as in horizontal Splitter (grid-auto-rows:1fr;) 
  for columns will return only 1  column as 1fr is already the width of the parent element */
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
}

button{
  background-color: var(--dark);
  color: var(--text);
  border-radius: 20px;
  border-color: var(--text);
}