:root {
  --dark:#1b1c2e;
  --mid:#242538;
  --light:#b6b6cc;
  --text:color: #f0f0f5;
}


body {
  background-color: #242538;
  font-family: Helvetica;
  color: #f0f0f5;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: 5px solid #242538;
  border-radius: 20px;

  overflow: hidden;
}

.main h1 {
  background-color: #1b1c2e;
  display: block;
  font-size: 2em;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
}

.content {
  background-color: #b6b6cc;
  width: min(90vw, 80vh);
  height: min(90vw, 80vh);
  padding: 10px;
}

.textTile{
  /* position: relative; */
  /* background-color: #242538; */
  border-radius: 20px;
  /* max-height: 100% */
  flex-grow: 1;
  position: relative;
}
.text{
  position: relative;
  /* position: absolute;      */
  display:block;
  width: fit-content;
  border-radius: 20px;
  /* height: 100%; */
  height: auto;
  padding: 10px;
  /* height: max-content; */
}
.textTile h1 {
  /* width: fit-content; */
  border-radius: 20px;
  /* height: max-content; */
}

* .dark {
  background-color: var(--dark);
}
* .mid {
  background-color: var(--mid);
}
* .light {
  background-color: var(--light);
}

.dark .content{
  background-color: var(--dark);
}
.mid .content{
  background-color: var(--mid);
}
.light .content{
  background-color: var(--light);
}

.dark h1{
  background-color: var(--dark);
}
.mid h1 {
  background-color: var(--mid);
}
.light h1{
  background-color: var(--light);
}

/* place your styles below */


img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
}


.horizontalSplitter{
  height: 100%;
  /* height: fit-content; */

  display: grid;
  grid-auto-rows:1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr;
  gap: 30px;
}

.verticalSplitter{
  height: 100%;
  /* height: max-content; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-rows: 1fr;
  gap: 30px;
}

button{
  background-color: var(--dark);
  color: var(--text);
  border-radius: 20px;
  border-color: var(--text);
}